.sidebar {
    width: 200px; 
     
    margin-left: 0px; 
    background-color: #060e0e;
    height: 704px;
    text-align: center;
    align-items: center;
    color: azure;
  } 
  .btn{
    color: rgb(228, 232, 235);
  } 
  





